# Environment variables (example)

# --- PUBLIC VARIABLES (AVAILABLE IN THE BROWSER) ---
NEXT_PUBLIC_SUPABASE_URL=https://cphsitxzwkvlniylmrup.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNwaHNpdHh6d2t2bG5peWxtcnVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUyNjY4NjUsImV4cCI6MjEwMDg0Mjg2NX0.7HP5SAUo4GlWSdc6kQ_ZIcvS6utcbhbOd4v0SDDY2gk

# --- SERVER ONLY VARIABLES (DO NOT EXPOSE TO CLIENT) ---
# Store server-only secrets in your hosting provider (Netlify) environment
SUPABASE_SERVICE_ROLE_KEY=
# OTHER_SERVER_SECRET=
